body{
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:#000000;
  line-height:1.6;
}

#showcase{
  background-size:cover;
  background-position:center;
  background-color:#99c2ff;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:5%;
  border-top: 6px solid gray;
}

#showcase h1{
  font-size:30px;
  line-height:1.2;
}

#showcase p{
  font-size:18px;
  padding:0% 10%;
}

#showcase .button{
  font-size:18px;
  text-decoration:none;
  color:#000000;
  border:#000000 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#showcase .button:hover{
  background:#99c2ff;
  color:#fff;
}

#section-a{
  padding:20px;
  background:#926239;
  color:#fff;
  text-align:center;
}

#section-b{
  padding:20px;
  background:#f4f4f4;
  text-align:center;
}

#section-c{
  display:flex;
}

#section-c div{
  padding:20px;
}

#section-c .box-1, #section-c .box-3{
  background:#926239;
  color:#fff;
}

#section-c .box-2{
  background:#f9f9f9;
}
